.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.row {
  height: auto;
  margin: 0 auto;
  position: relative;
}
h1 {
  width: 100%;
  height: auto;
  float: left;
  margin: 2% 0;
  text-align: center;
  font-weight: 100;
  color: rgb(106, 203, 228);
  font-size: 2.5em;
}
h1:before {
  content: "</";
}
h1:after {
  content: ">";
}
input {
  display: none;
}

.box-paginacao {
  width: 100%;
  height: auto;
}
.box-paginacao h2 {
  width: 100%;
  height: auto;
  float: left;
  margin: 0 0 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #3ca3f2;
}
.box-paginacao .box-vitrines {
  width: 100%;
  height: 371px;

  overflow: hidden;
  position: relative;
}
.box-paginacao ul {
  width: 100%;
  height: auto;
  float: left;
  transition: transform 0.7s ease-in-out;
}
.vireinli {
  text-align: center;
}
.box-paginacao ul li {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 0 30px 10px 0px;
  border: 1px solid white;
  box-shadow: 3px 2px 1px #cec5c1;
  border-radius: 5%;
  line-height: 250px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #2e2929;
}
.box-paginacao ul li img {
  width: 100%;
  height: 100%;
}
.box-paginacao .vitrine {
  width: 100%;
  height: 336px;
  float: left;
  margin-bottom: 33px;
}

.btn-paginacao {
  width: 100%;
  height: auto;
  display: flex;
  float: left;
  margin-top: 10px;

  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.btn-paginacao ul {
  width: auto;
  height: auto;
}
.btn-paginacao ul li {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 5px 0 0;
  border: 0;
}
.btn-paginacao ul li:last-child {
  margin: 0;
}
.btn-paginacao ul li label {
  width: 100%;
  height: 30px;
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;

  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.25s ease-in-out;
}
.btn-paginacao ul li label:hover {
  background-color: rgb(106, 203, 228);
  color: #fff;
}
.checklab {
  background-color: rgb(106, 203, 228);
  color: #fff;
}
.box-vitrines > ul {
  transition: transform 0.7s ease-in-out;
  transform: translateY(0px);
}

.mais {
  width: 147px;
  height: auto;
  position: absolute;
  bottom: 7px;
  right: 0;
  text-align: center;
}
.mais a {
  font-size: 1.2em;
  color: #000;
}
