
$font-size = 14px
$border-radius = 4px;
//$color-main=#2b85e4
* {
  margin: 0px;
  padding: 0px;
  box-size: border-box;
}

body {
  font-size: $font-size;
  background: $color-main;
}
li {
  list-style none
}